<!-- store/templates/store/product_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
</head>
<body>
    <!-- Include this button in your HTML template -->
{% if user.is_authenticated %}
<form action="{% url 'user_logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% endif %}

    <h1>Product List</h1>
    <ul>
        {% for product in products %}
            <li>
                <a href="{% url 'product_detail' product.pk %}">{{ product.name }}</a>
                <a href="{% url 'product_update' product.pk %}">Edit</a>
                <a href="{% url 'product_delete' product.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'product_create' %}">Create New Product</a>
</body>
</html>
